* {
    margin: 0px;
    padding: 0px;
    font-family: futura;
    font-weight: 100;
    color: white;
}
body {
    background-image: url('/images/game_background.png');
    background-size: 30px;
}
.circle {
    position: absolute;
    display: inline-block;
    background-image: url('/images/token_blue.png');
    background-size: cover;
}
.pointContainer {
    display: flex;
}

.garbageCan {
    display: inline-block;
}
.garbageCan img {
    width: 80%;
    display: inline-block;
    overflow: hidden;
}

.gameInfo {
    width: 100%;
    background-color: #1D1916;
    display: inline-block;
}

.gameTime, #countdown, .gameScore, .teamScore {
    display: inline-block;
    font-size: 26px;
}

#countdown, .teamScore {
    color: #FFBE00;
}

.wrapper {
    margin-left: 10%;
    display: inline-block;
    padding: 0 20px;

}

.highScore {
    margin-right:10%;
    text-align: right;
    float: right;
    display: inline-block;
}

.alert{
    margin-top:10%;
    width:50%;
    height:200px;
    margin:0 auto;
    text-align: center;
    background-color: black;
    color: white;
}

span {
    color: #FFBE00;
}
