* {
    margin: 0px;
    padding: 0px;
    font-family: futura;
    color: pink;
}
body {
    background-image: url('/images/game_background.png');
}
#circle {
    position: absolute;
    display: inline-block;
    background-image: url('/images/token_blue.png');
    background-size: cover;
}
.pointContainer {
    display: flex;
}

.garbageCan {
    display: inline-block;
}
.garbageCan img {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}
.gameInfo {
    width: 100%;
    background-color: #2384c9;
    display: inline-block;
}
.gameInfoMiddle {
    width: 25%;
    height: 10%;
    margin: 0 auto;
    /*display: inline-block;*/
}
